.card {
  width: 300px;
  text-align: left;
}

.card-title {
  text-align: center;
  font-weight: bold;
}

body {
  background-color: rgb(158, 158, 247);
}

.nav-wrapper {
  background-color: peru;
}

h6 {
  text-align: center;
}
